@{
    if (Context.User.Identity.IsAuthenticated)
    {
    <div>
        Welcome @Session["FirstName"]&nbsp;@Session["LastName"]&nbsp;[@Html.ActionLink("LogOff", "LogOff", "Account")]
    </div>
    }
    
    }   