<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ElmhurstJayceesEntities" connectionString="metadata=res://*/ElmhurstJaycees.csdl|res://*/ElmhurstJaycees.ssdl|res://*/ElmhurstJaycees.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DV4;Initial Catalog=ElmhurstJaycees;Persist Security Info=True;User ID=EJDBO;Password=SUPER SECRET;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>