@model ElmhurstJaycees.Models.File

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>File</legend>

    <div class="display-label">FileName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">Length</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Length)
    </div>

    <div class="display-label">Extension</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Extension)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="defaultButton" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
